<!doctype html>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <div class="container">
        <canvas id="aqChart"></canvas>
    </div>
    <script>
        let config = {
            type: "line",
            data: {
                labels: [],
                datasets: [{
                    label:'{{title}}',
                    data: [{{AQIdata}}]
                }]
            },
            options: {
                responsive: true,
            }
        };

        let ctx = document.getElementById('aqChart').getContext('2d');
		window.myLine = new Chart(ctx, config);

        for(var i=0; i<AQIdates.length; i++) {
            config.data.labels.push(toReadableTime(AQIdates[i]));
        }

        window.myLine.update();
    </script>
</body>